@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('assets/fonts/Poppins-Bold.ttf');
}

body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(
    to right bottom,
    hsla(259, 100%, 65%, 0.484) 100%,
    transparent
  );
}

main {
  background-color: hsla(0, 0%, 99%, 0.8);

  border-radius: 21px 21px 130px 21px;

  margin: auto;
  margin-top: 50px;
  padding: 10px;

  width: 50%;
  height: 500px;
}

@media (max-width: 1470px) {
  main {
    height: 500px;
    width: 375px;

    margin: auto;
    margin-top: 50px;
  }
}

/* Parte de cima do display*/

#container--input {
  background-color: hsla(0, 0%, 99%, 0.2);
  border-bottom: 1px solid #808080ba;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  height: 115px;
  width: 318px;
}

@media (max-width: 700px) {
  #container--input {
    height: 125px;
    width: 340px;
  }
  .btn {
    transform: translate(140px, 23px);
  }
  #container--input > .data {
    font-size: 15px;
    display: inline-block;
    margin-left: 15px;
  }
}

label.data {
  color: #9a9999;
  font-family: 'Poppins-Regular';
  font-size: 14px;

  text-transform: uppercase;
  display: inline-block;
  padding-top: 10px;

  margin: auto;
  margin-top: 15px;
  margin-left: 18px;
}

@media (max-width: 700px) {
  #container--input > label > input {
    display: block;
    border-radius: 6px;
    border: 1px solid #808080ba;

    width: 56px;
    height: 31px;
    margin-top: 5px;
    margin-left: -1px;
  }
}

#container--input > label > input {
  display: block;
  cursor: pointer;
  color: hsl(259, 100%, 65%);

  border-radius: 4px;

  width: 70px;
  height: 33px;

  margin-top: 5px;
  margin-left: 8px;
}
#container--input > label > input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
  color: hsl(259, 100%, 65%);
}
#container--input > label > input::placeholder {
  color: hsl(259, 100%, 65%);
}

#input--day,
#input--month,
#input--year {
  font-family: 'Poppins';
}

.btn {
  background-color: hsl(259, 100%, 65%);
  color: hsl(0, 0%, 94%);

  border: 2px solid;
  border-radius: 50%;

  transform: translate(300px, 23px);
}
.btn:hover,
img:hover {
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}
img {
  width: 30px;
  padding: 3px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .btn {
    transform: translate(140px, 23px);
  }
}

/* Parte de baixo do display*/
#container--display {
  display: grid;
  justify-content: center;

  height: 300px;
  margin: auto;
}

#display,
#display--result > .saida {
  font-size: 55px;
  font-family: 'Poppins';
  text-transform: lowercase;
  color: hsl(0, 0%, 8%);
  margin-top: 30px;
}

.container-saida {
  color: hsl(259, 100%, 65%);
  font-family: 'Poppins';

  display: inline-block;
  width: 76px;
  height: 64px;
}
#display,
#display--result {
  display: block;
}
.container--year {
  font-size: 55px;
  margin-right: -8px;
  margin-left: 19px;
}
.container--month {
  font-size: 55px;
  margin-right: -8px;
  margin-left: 19px;
}
.container--days {
  font-size: 55px;
  margin-right: -8px;
  margin-left: 19px;
}

.attribution {
  margin-top: 80px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.day-error,
.month-error,
.year-error,
.input-error {
  font-size: x-small;
  color: hsl(0, 100%, 67%);
  position: absolute;
  opacity: 1;
  margin-top: 3px;
}
.day-error {
  margin-left: -26px;
}
.month-error {
  margin-left: 78px;
}
.year-error {
  margin-left: 183px;
}
.input-error {
  margin-left: -237px;
}
